/* Heading Now Trial 47 */

@font-face {
    font-family: 'Heading Now Trial 47';
    src: url('HeadingNowTrial-47Extrabold.woff2') format('woff2'),
        url('HeadingNowTrial-47Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* PP Neue Montreal */
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Bold.woff2') format('woff2'),
    url('PPNeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Italic.woff2') format('woff2'),
    url('PPNeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Thin.woff2') format('woff2'),
    url('PPNeueMontreal-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
    url('PPNeueMontreal-SemiBolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal Book';
    src: url('PPNeueMontreal-Book.woff2') format('woff2'),
    url('PPNeueMontreal-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Medium.woff2') format('woff2'),
    url('PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
