.cart-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  right: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9998;
  transition: .4s;
  opacity: 0;
}

.shop-cart {
  opacity: 0;
  position: fixed;
  transition: .3s;
  top: 0;
  right: -100%;
  max-width: 420px;
  width: 100%;
  background: #fff;
  height: 100vh;
  padding: 40px;
  z-index: 99999;
  overflow-y: auto;
  overflow-x: hidden;

  .cart-wraper {
    width: 100%;

    .cart-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      flex-direction: row-reverse;
      margin-bottom: 35px;
      border-bottom: 1px solid #E6E6E6;

      .cart-close {
        cursor: pointer;
      }
    }
  }
}

ul.woocommerce-mini-cart.cart_list.product_list_widget {
  padding-left: 0;

  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before{
      display: none;
    }
    .mc-thumbnail-title{
      width: 200px;
      a{
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .remove.remove_from_cart_button {
      flex: 0 0 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border: 1px solid #717171;
      border-radius: 50%;
      color: #707070 !important;
      font-size: 0;
      position: relative;

      &:hover {
        background-color: transparent !important;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 9px;
        height: 1px;
        background: #707070;
        transform: translate(-50%, -50%);
      }
    }

    img {
      width: 75px;
    }
  }
}

.cart-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  .cart-thumb {
    height: 80px;
    min-width: 80px;
    overflow: hidden;
    margin-right: 15px;

    img {
      height: 80px;
      min-width: 80px;
      object-fit: cover;
    }
  }

  .cart-content {
    max-width: 260px;
    width: 100%;

    p {
      font-family: $body_font;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    h5 {
      font-size: 16px;
      font-weight: 500;
      color: #e79f7e;
    }
  }

  .cart-removed {
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: $black2;

    &:hover,
    &:focus {
      background: #eee;
    }
  }
}

.cart-activee {
  overflow: hidden;

  .cart-overlay {
    right: 0;
    opacity: 1;
  }

  .shop-cart {
    right: 0;
    opacity: 1;
  }
}

.cart-nice-number-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.cart-form {
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 20px;

  h4 {
    font-size: 16px;
    color: $black2;
    margin-bottom: 20px;
  }

  .input-group {
    position: relative;
    display: block;

    label {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      color: #c2c2c2;
    }

    textarea {
      font-family: "Poppins", sans-serif;
      width: 100%;
      padding: 20px 0px;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid #cfcfcf !important;
      background: #fff;
      border: none;

      &:hover {
        border-bottom: 1px solid #e59d73 !important;
      }
    }
  }
}

.total-cart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    font-size: 16px;
    font-family: $poppins;
    color: #717171;
  }

  p {
    font-size: 16px;
    font-family: $poppins;
    color: #e79f7e;
    font-weight: 500;
  }
}

.button-wrappper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    background: #272525;
    padding: 14px 40px;
    position: relative;
    color: #fff !important;
    z-index: 1;
    overflow: hidden;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    border-radius: 0;

    &:hover {
      background: transparent;
      border: 1px solid #cfcfcf;
      color: #272525 !important;
    }
  }
}

.copyright {
  p {
    font-size: 16px;
    font-family: $poppins;
    color: #717171;
  }
}