/*** Footer ***/

.footer-widget-area {
    background: $black3;
    padding: 70px 0;
    position: relative;
    overflow: hidden;
    .footer-widget {
        .footer-widget-head {
            padding-bottom: 30px;
            text-transform: uppercase;
            position: relative;
            span.f-heading-arrow {
                position: absolute;
                right: 0;
                top: 0;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                display: none;
                @media screen and (max-width: 991px) {
                    display: block;
                }
            }
        }
        h3 {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 24px;
            color: #fff;
        }
        .mori-about-widget {
                p {
                    padding-bottom: 32px;
                    font-family: $third_font;
                }
            ul {
                display: flex;
                gap: 20px;
                li{
                    a{
                        border: 1px solid $white;
                        font-size: 18px;
                        height: 35px;
                        width: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        color: $white;
                        transition: all .3s ease-in-out;
                        &:hover{
                            background: $white;
                            color: $black
                        }
                    }
                }
            }
        }
        ul.menu {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin-bottom: 10px;
                position: relative;
                transition: all 0.3s ease-in-out;
                &::before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 1px;
                    background-color: #909090;
                    opacity: 0;
                    visibility: hidden;
                    transform: scale3d(0, 1, 1);
                    transform-origin: 100% 50%;
                    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
                }
                &:hover {
                    padding-left: 15px;
                    &::before {
                        opacity: 1;
                        visibility: visible;
                        transform: scale3d(1, 1, 1);
                        transform-origin: 0 50%;
                    }
                    a{
                        color: $white;
                    }
                }
                a {
                    font-family: $third_font;
                    font-size: toRem(14);
                    text-transform: capitalize;
                    color: #909090;
                }
            }
        }
        p {
            font-size: 18px;
            color: $white;
        }
        .mori-contact-widget {
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    a{
                        font-family: $third_font;
                        color: #909090;
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
        .newsletter-html-form {
            form{
                position: relative;
                input[type="email"]{
                    background: transparent;
                    border: 1px solid #707070;
                    border-radius: 28px;
                    padding: 8px 16px;
                    color: #ffffff;
                    width: 100%;
                }
                .newsletter-btn{
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    cursor: pointer;
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
    .footer-shape {
        position: absolute;
        bottom: -50px;
        right: 50px;
        animation: footer_animation 10s infinite;
    }
}

@keyframes footer_animation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes footer_animation_2 {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.9);
    }
}

// Site Footer
.footer-bottom-area{
    background-color: $white;
    padding: 10px 0;
}
.footer-middle-area{
    padding: 110px 0 0;
}
.footer-middle-menu-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    z-index: 2;
    position: relative;
    .footer-middle-social ul {
        display: flex;
        gap: 22px;
        li{
            list-style: none;
            a{
                font-size: 18px;
                color: $white;
                &:hover{
                    color: #909090;
                }
            }
        }
    }
    .footer-middle-menu {
        ul {
            display: flex;
            gap: 20px;
            li {
                a{
                    font-size: toRem(14);
                    color: $white;
                    &:hover{
                        color: #909090;
                    }
                }
            }
        }
    }
}
.copyright-main-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul{
        display: flex;
        gap: 0 10px;
        a{
            opacity: .54;
            color: $black;
            font-size: toRem(16);
        }
    }
}