// Hero Banner 02
.banner-2 {
    padding: 220px 0px 90px;
    background-color: $hero_banner;
    position: relative;
    .banner-1-graphic {
        left: auto;
        bottom: 80px;
        right: 90px;
        z-index: 1;
        .graphic-1 {
            bottom: 0;
        }
        .union-bg-2 {
            width: 25px;
            height: 25px;
            background-color: $text_color_4;
            position: relative;
            top: -30px;
            left: 100px;
            z-index: -1;
            animation: bannerTwo 5s ease-in-out infinite;
        }
    }
}

.banner-img-2 {
    padding-right: 20px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -40px;
        left: -80px;
        width: 100%;
        height: 100%;
        background-image: url(../img/banner_g_2.png);
        background-repeat: no-repeat;
        animation: bannerThree 5s ease-in-out infinite;
    }
    img {
        position: relative;
    }
}

@keyframes bannerThree {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.feature-2 {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: $hero_banner;
        z-index: -1;
    }
}

// Funfact
.funfact {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        background-color: #ECFBF8;
        z-index: -1;
    }
}

.funfact_1 {
    padding-top: 69px;
}

.funfact-wrap {
    background-color: $primary_color;
    border-radius: 5px;
    padding: 65px 100px 50px;
}

// About Us
.aboutus-2 {
    position: relative;
    .about-img {
        width: 443px;
        height: 423px;
    }
    .about-graphic-2 {
        position: absolute;
        top: 0;
        left: -100px;
        width: 235px;
        height: 235px;
        transform: rotate(20deg);
        z-index: -1;
        animation: footer_animation_3 10s linear infinite;
    }
    .total-raised {
        position: absolute;
        bottom: -140px;
        right: -90px;
        left: inherit;
        width: 192px;
        height: 192px;
    }
}

@keyframes footer_animation_3 {
    0% {
        transform: rotate( 10deg);
    }
    25% {
        transform: rotate( 0deg);
    }
    50% {
        transform: rotate( -10deg);
    }
    75% {
        transform: rotate( 0deg);
    }
    100% {
        transform: rotate( 10deg);
    }
}

.counter-box {
    text-align: center;
    span,
    strong {
        font-size: 45px;
        font-weight: $fw_bold;
        color: #fff;
        vertical-align: middle;
    }
    p {
        font-size: 24px;
        font-weight: $fw_medium;
        color: #fff;
        padding: 20px 0 20px;
    }
}

.funfact-wrap_2 {
    .counter-box {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 35px;
            background-color: $heading_color;
            transform: translateY(-50%);
        }
        span,
        strong {
            color: #000;
        }
        p {
            color: #000;
        }
    }
    .col-md-4 {
        &:last-child {
            .counter-box {
                &::after {
                    content: none;
                }
            }
        }
    }
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    flex: 0 0 25%;
    min-width: 25%;
    // img {
    //     min-width: 25%;
    // }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(35, 35, 35);
        background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, rgba(35, 35, 35, 1) 100%);
        transform: translateY(200px);
        transition: all 0.3s ease-in-out;
    }
    &.grid-item-1 {
        flex: 0 0 48%;
        min-width: 48%;
        // img {
        //     min-width: 25%;
        // }
    }
    &:hover {
        &::before {
            transform: translateY(0px);
        }
        .grid-item-content {
            transform: translateY(0px);
        }
    }
}

.grid-item-content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 0px 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    z-index: 1;
    transform: translateY(150px);
    transition: all 0.3s ease-in-out;
    &.grid-item-content-2 {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        transform: translateY(300px);
        .grid-item-text {
            flex-basis: 0;
        }
    }
    .grid-item-text {
        flex: 0 0 60%;
        h4 {
            font-size: 24px;
            font-weight: $fw_semi_bold;
            color: #fff;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
    }
    .grid-item-icon {
        min-width: 56px;
        min-height: 56px;
        background-color: $menu_font_hover;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $heading_color !important;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #fff !important;
        }
    }
}