.bottom-bar-area {
  padding: 10px 0;
  background: $white;
  .header-right-buttons {
    display: flex;
    column-gap: toRem(12);
    justify-content: flex-end;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background: #707070;
      height: 50px;
      width: 1px;
      left: 0;
      opacity: 28%;
      top: -40%;
    }
  }

  .navigation-main-area {
    li a {
      font-size: toRem(16);
    }
    .dropdown .dropdown-menu li a {
      font-size: toRem(16);
    }
  }
  .search-wrapper {
    position: relative;
  }
  .search-wrapper input {
    width: 100%;
    background: #F2F2F2;
    border-radius: 23px;
    height: 45px;
    padding: 10px 20px 10px 35px;
    border: none;
    &::placeholder {
      font-size: toRem(12);
      padding-left: 5px;
    }
  }
  span.search-button {
    position: absolute;
    left: 10px;
    top: 10px;
    i.mori-svg svg {
      width: 19px;
      path{
        fill: #272626;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}