.top-bar-area{
  height: toRem(40);
  background: $black4;
  .col-lg-2{
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .top-bar-icons{
    display: flex;
    gap: 3px;
    align-items: center;
    height: 40px;
    i.mori-svg svg {
      width: 14px;
      path{
        fill: #ffdd15;
      }
    }
  }
  .top-bar-text {
    color: $white;
    font-size: toRem(14);
    font-weight: 700;
    text-align: center;
    line-height: toRem(40);
    i.mori-svg svg {
      width: 14px;
      margin-right: 5px;
      path{
        fill: #ffffff;
      }
    }
  }
}